{% extends "spiderlist/base.html" %}
{% load admin_static %}

{% block title %}
SpiderWeb
{% endblock %}


{% block content %}

{% for group in groups %}
<div class="card card-pad">
    <a id="group-refresh-{{ group.id }}" class="group-link" data-target="{{ group.id }}" href="#">{{ group.name|title }} <span class="badge">{{ group.valid_results.count }}</span></a>
    -
    <a class="fa fa-refresh group-refresh-link" data-target="{{ group.id }}" name="{{ group.name|title }}" href="#"></a>
</div>
<div class="collapse group" id="group-{{ group.id }}"></div>
{% endfor %}

<div class="modal fade" tabindex="-1" role="dialog" id="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="dialog-dismiss" type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dialog-title"></h4>
            </div>
            <div class="modal-body" id="dialog-content">
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extrascript %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
