{% extends "spiderlist/base.html" %}
{% load admin_static %}

{% block title %}
SpiderWeb
{% endblock %}


{% block content %}

{% for group in groups %}
<div class="card card-pad">
    <a class="group-link" data="{{ group.id }}" href="#">{{ group.name|title }} <span class="badge">{{ group.valid_results.count }}</span></a> -
    <a class="fa fa-refresh" href="{% url 'group_refresh' group.id %}"></a>
</div>
<div class="collapse group" id="group-{{ group.id }}"></div>
{% endfor %}

{% endblock %}

{% block extrascript %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
